*.o
*.coff
threads/nachos
userprog/nachos
vm/nachos
test/matmult
test/halt
test/shell
test/sort
test/fileio
test/hellocons
test/fromcons
test/hellofile
test/newfork
test/parent_child
test/kid
test/deepfork
test/deepkid1
test/deepkid2
test/seq_child
test/share
test/sharekid
test/maxfork
test/arg_seq_child
test/argtest
test/argkid
test/cat
test/cp
test/filesynch
test/filesynchkid
test/qsort
test/qmatmult
test/vmtorture
test/Xkid
filesynch.output
fileio.out
hello.out
p2check.tgz
p2.tgz
DISK
